node_modules
.tmp
npm-debug.log
package-lock.json
.waterline
.node_history
.env
*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
*#
*\#
.\#*
*~
.netbeans
nbproject
dump.rdb
*.js.map
pnpm-*
coverage
.vscode/pinned-files.json
.tmp
backup.tar